#*.iml
#.gradle
#/local.properties
#.DS_Store
#/build
#.idea/
#*.class
#*.jar

# ignore everything
*

# add files in root
!.gitignore
!build.gradle
!/settings.gradle
!gradle.properties
!gradlew
!gradlew.bat
!/*.md
!/*.pro
!/*.sh



!/app/src/
/app/src/main/assets/de/mel/auth/update.server.cert


# add every project
!/app/
!/auth/
!/authfx/
!/blog/
!/contacts/
!/contactsfx/
!/filedump/
!/filedumpfx/
!/filesync/
!/filesyncfx/
!/fxbundle/
!/icons/
!/icons/**
!/json/
!/konsole/
!/lok/
!/miniserver/
!/serialize/
!/serverparts/
!/sql/

# add a few folders and files that are present in (almost) every project
!*/*.md
!*/build.gradle
!*/.gitignore
!*/proguard-rules.pro

!*/src/
!*/src/**

#!/sql/src/
#!/sql/




#/app/src/main/assets/de/mel/auth/update.server.cert
#
#/auth/src/main/resources/de/de/auth/update.server.cert
#
#
#/*/*
#!/*/src/*
#!/*/*.sh
#!/*/*.MD
#!/*/build.gradle
#
#/released.version
#/github_auth
#
#/app/src/main/assets/filesync.sql
#/app/src/main/assets/sql.sql
#/filesyncfx/melauth.workingdir.1
#/filesyncfx/melauth.workingdir.2
#/filesyncfx/target
#/authfx/target
#/auth/target
#/sql/target
#/projectFilesBackup
#/settings.gradle
#secret.properties
#/NetBeansSVGConverterProject/nbproject/private/
#/miniserver/server/secret/*
#/miniserver/server/files/*
#/miniserver/server/blog/*
#!/miniserver/server/secret/README.md
#/keystore.properties
#/app/app.sign.jks
