*.iml
.gradle
/local.properties
.DS_Store
/build
.idea/
*.class
*.jar

/app/build
/blog/build
/contacts/build
/contactsfx/build
/filedump/build
/filedumpfx/build
/filesync/build
/filesyncfx/build
/fxbundle/build
/json/build
/konsole/build
/lok/build
/miniserver/build
/serialize/build
/serverparts/build
/sql/build

app/src/main/assets/drive.sql
app/src/main/assets/sql.sql
/filesyncfx/melauth.workingdir.1
/filesyncfx/melauth.workingdir.2
/filesyncfx/target
/authfx/target
/auth/target
/sql/target
/projectFilesBackup
settings.gradle
secret.properties
/NetBeansSVGConverterProject/nbproject/private/
/miniserver/server/secret/*
/miniserver/server/files/*
!/miniserver/server/secret/README.md
/keystore.properties
