# this is a white list .gitignore only!!!

# first: ignore everything
*

# add files in root
!.gitignore
!build.gradle
!settings.gradle
!gradle.properties
!gradlew
!gradlew.bat
!/*.md
!/*.pro
!/*.sh

# leave the gradle folder alone
!gradle


#!/app/src/
#/app/src/main/assets/de/mel/auth/update.server.cert


# add every project
!/android/
!/auth/
!/authfx/
!/blog/
!/contacts/
!/contactsfx/
!/filedump/
!/filedumpfx/
!/filesync/
!/filesyncfx/
!/fxbundle/
!/icons/
!/icons/**
!/json/
!/konsole/
!/lok/
!/miniserver/
!/serialize/
!/serverparts/
!/sql/
!/testtools/

# add a few folders and files that are present in (almost) every project
!*/*.md
!*/build.gradle
!*/.gitignore
!*/proguard-rules.pro

!*/src/
!*/src/**