.lbl, .lbl-center, .lbl-center-section, .lbl-positive, .lbl-negative {
    -fx-padding: 5;
}

.lbl-center, .lbl-center-section {
    -fx-alignment: center;
    -fx-pref-width: Infinity;
}

.lbl-center-section {
    -fx-background-color: #4f4f4f;
}

.lbl-positive {
    -fx-background-color: #57bf40;
}

.lbl-negative {
    -fx-background-color: rgb(204, 0, 0);
}

.txt-edit{
    -fx-background-radius: 999;
    -fx-background-color: #434343;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-padding: 5px 10px 5px 10px;
}

.prop {
    /*@extend lbl;*/
    /*-fx-background-color: #7e7e7e;*/
    /*-fx-background-radius: 5;*/
}

.propsection {
    /*@extend prop;*/
    /*-fx-padding: 10 5 10 5;*/
    /*-fx-background-color: #4f4f4f;*/
    /*-fx-background-radius: 0;*/
}

/*.lbl center {*/
/*-fx-alignment: center;*/
/*}*/

.lbl-title {
    /*@extends lbl;*/
    /*-fx-pref-width: Infinity;*/
    /*-fx-alignment: center;*/
}

.tittle {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    /*-fx-background-color: #545454;*/
    /*-fx-pref-width: Infinity;*/
    /*-fx-alignment: center;*/
}